{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <ul class="list-group">
        {% for c in allCategory %}
            <li class="list-group-item">
                {{ c.category.name }}
                <span class="badge text-bg-secondary">{{ c.count }}</span>
            </li>
        {% else %}
            <li>Aucune catégorie disponible.</li>
        {% endfor %}
    </ul>
{% endblock %}
