{% extends 'base.html.twig' %}

{% set pageTitle = "Création d'un nouveau contact" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    {{ include('/contact/_form.html.twig', {form: form, submit_label: 'Ajouter'}, with_context = false) }}
{% endblock %}
