{% extends 'base.html.twig' %}

{% block title %}Liste de contacts{% endblock %}

{% block body %}
    <h1>Liste de contacts</h1>
    <ul>
        {% for contact in contacts %}
            <li>{{ contact.lastname }}, {{ contact.firstname }}</li>
        {% endfor %}
    </ul>

{% endblock %}